@font-face {
    font-family: Cantarell-reg;
    src: url(font/Cantarell/Cantarell-Regular.ttf);
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    background: linear-gradient(white 15%,rgb(102, 102, 102));
    background-repeat: no-repeat;
    background-size: cover;
    height: 683px;
}
body a:link{
    text-decoration: none;
}
body a:visited{
    color: black;
}
#body{
    background-color: #079cf156;
    width: 100px;
    height: 100px;
}
#top{
    position: relative;
    display: flex;
    justify-content:space-between;
    height: 100px;
    border: red solid 1px;
    
}
#logo-name{
    display: flex;
    border: black solid 1px;
}
#top h3{
    color: #cc0000;
    font-weight: 600;
}
#top img{
    border-radius:50% ;
    width: 40px;
    height: 40px;
    margin-top: 12px;
}
#top .right{
    display: flex;
    justify-content: space-between;
    min-width: 28rem;
    max-width: 28rem;
    border: blue solid 1px;
    position: absolute;
    white-space: normal;
    right: 0;
}
#top ul{
    list-style-type: none;
}
.right li{
    display: flex;
    justify-content: space-between;
    margin-top:5px;
    margin-left: 1.5rem;
    font-weight: 600;
    float: left;
}
#top .log{
    display: inline-block;
    text-align: center;
    margin-top:12px;
    color: white;
    font-weight: 600;
    width: 60px;
    background-color: rgb(230, 0, 35);
    padding: 10px 6px;
    border-radius: 30px;
}
#top .sign{
    display: inline-block;
    text-align: center;
    margin-top:12px;
    color: black;
    font-weight: 600;
    width: 60px;
    background-color:#efefef;
    padding: 10px 6px;
    border-radius: 30px;
}
#ani-p{
    display: flex;
    width:350px;
    height:350px;
    border: 1px solid blue;
}
#ani{
    width:150px;
    height: 150px;
    border-radius: 8%;
    background-color: red;
    animation: ani 6s infinite alternate;
    position: relative;
    /* background: linear-gradient(white,black); */
}
#ani:hover{
    background-image: url(img/funny-smile.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes ani {
    0% {
        background-color: #531b1b; 
        left:0px; 
        top:0px;
    }
    25% {
        background-color: #a52f27;
        left:200px;
        top:0px;
        border-radius: 25%;
    }
    50% {
        background-color: #cc5432;
        left:200px;
        top:200px;
        border-radius: 50%;
    }
    75% {
        background-color: #ef9260;
        left:0px;
        top:200px;
        border-radius: 25%;
    }
    100% {background-color: #531b1b;
        left:0px;
        top:0px;
    }
}
#tra2d{
    display: flex;
    width:150px;
    height: 150px;
    background-color: red;
}
