@font-face {
    font-family: Cantarell-reg;
    src: url(font/Cantarell/Cantarell-Regular.ttf);
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    background: linear-gradient(white 15%,rgb(102, 102, 102));
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
body a:link{
    color: black;
    text-decoration: none;
}
body a:visited{
    color: black;
}
#body{
    background-color: #079cf156;
    width: 100px;
    height: 100px;
}
#top{
    position: relative;
    display: flex;
    justify-content:space-between;
    height: 100px;
    min-width: 566px;
    /* border: red solid 1px; */
    
}
#logo-name{
    display: flex;
    /* border: black solid 1px; */
}
#top h3{
    color: #cc0000;
    font-weight: 600;
}
#top img{
    border-radius:50% ;
    width: 40px;
    height: 40px;
    margin-top: 12px;
}
#top .right{
    display: flex;
    justify-content: space-between;
    min-width: 28rem;
    max-width: 28rem;
    /* border: blue solid 1px; */
    position: absolute;
    white-space: normal;
    right: 0;
}
#top ul{
    list-style-type: none;
}
.right li{
    display: flex;
    justify-content: space-between;
    margin-top:5px;
    margin-left: 1.5rem;
    font-weight: 600;
    float: left;
}
#top .log{
    display: inline-block;
    text-align: center;
    margin-top:12px;
    color: white;
    font-weight: 600;
    width: 60px;
    background-color: rgb(230, 0, 35);
    padding: 10px 6px;
    border-radius: 30px;
}
#top .sign{
    display: inline-block;
    text-align: center;
    margin-top:12px;
    color: black;
    font-weight: 600;
    width: 60px;
    background-color:#efefef;
    padding: 10px 6px;
    border-radius: 30px;
}
#down{
    display: flex;
    justify-content: space-between;
}
#ani-p{
    width:425px;
    height:425px;
    /* border: 1px solid blue; */
}
#ani{
    width:175px;
    height: 175px;
    border-radius: 8%;
    background-color: red;
    animation: ani 6s infinite;
    position: relative;
    /* background: linear-gradient(white 2%,black); */
}
#ani:hover{
    background-image: url(img/funny-smile.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes ani {
    0% {
        background-color: #531b1b; 
        left:0px; 
        top:0px;
    }
    25%{
        background-color: #a52f27;
        left:250px;
        top:0px;
        border-radius: 20%;
    }
    50%{
        background-color: #cc5432;
        left:250px;
        top:250px;
        border-radius: 50%;
    }
    75% {
        background-color: #a52f27;
        left:0px;
        top:250px;
        border-radius: 20%;
    }
    100% {background-color: #531b1b;
        left:0px;
        top:0px;
    }
}
#tra2d{
    width:200px;
    height: 150px;
    background-color: red;
    margin: 40px 50px;
    transition: 1s;
    /* transform: rotate(20deg); */
    /* transform: skewx(20deg); */
}
#tra2d:hover{
    background-image: url(img/vadivelu.gif);
    background-size: cover;
    transform: rotate(360deg);
}
